<.header>
  Edit Node {@node.id}
  <:subtitle>Use this form to manage node records in your database.</:subtitle>
</.header>

<.node_form changeset={@changeset} action={~p"/clusters/#{@cluster_id}/nodes/#{@node}"} />

<.back navigate={~p"/clusters/#{@cluster_id}/nodes"}>Back to nodes</.back>
