<.header>
  Node {@node.id}
  <:subtitle>This is a node record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/clusters/#{@cluster_id}/nodes/#{@node}/edit"}>
      <.button>Edit node</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@node.name}</:item>
  <:item title="Status">{@node.status}</:item>
</.list>

<.back navigate={~p"/nodes"}>Back to nodes</.back>
