<.header>
  {@node.name}
  <:actions>
    <.link href={~p"/clusters/#{@cluster_id}/nodes/#{@node}/edit"}>
      <.button>Edit node</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Status">{@node.status}</:item>
</.list>

<.back navigate={~p"/clusters/#{@cluster_id}/nodes"}>Back to nodes</.back>
