<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:cluster_api_key]} type="text" label="Cluster API key" />
  <.input field={f[:cluster_controller_url]} type="text" label="Cluster controller node URL" />
  <:actions>
    <.button>Save Cluster</.button>
  </:actions>
</.simple_form>
