<.header>
  Edit Cluster {@cluster.id}
  <:subtitle>Use this form to manage cluster records in your database.</:subtitle>
</.header>

<.cluster_form changeset={@changeset} action={~p"/clusters/#{@cluster}"} />

<.back navigate={~p"/clusters"}>Back to clusters</.back>
