<.header>
  {@cluster.name}
  <:actions>
    <.link href={~p"/clusters/#{@cluster}/edit"}>
      <.button>Edit cluster</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Cluster controller node URL">{@cluster.cluster_controller_url}</:item>
  <:item title="Cluster API key">{@cluster.cluster_api_key}</:item>
</.list>

<.back navigate={~p"/clusters"}>Back to clusters</.back>