<.header>
  {@cluster.name}
  <:actions>
    <.link href={~p"/clusters/#{@cluster}/edit"}>
      <.button>Edit cluster</.button>
    </.link>
    <.link href={~p"/clusters/#{@cluster}/nodes"}>
      <.button>Cluster nodes</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Cluster cookie">{@cluster.cluster_cookie}</:item>
</.list>

<.back navigate={~p"/clusters"}>Back to clusters</.back>