{erl_opts, [debug_info]}.
{relx, [
    {release, {worker, "0.1.0"}, [
        worker,
        sasl,
        compiler,
        mnesia
    ]},    
    {release, {controller, "0.1.0"}, [
        controller,
        sasl,
        mnesia,
        cowboy
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
