{erl_opts, [debug_info]}.
{relx, [
    {release, {worker, "0.1.0"}, [
        worker,
        sasl,
        compiler,
        mnesia
    ], 
    [{vm_args, "./config/worker_vm.args"}]},
    
    {release, {mnesia_db, "0.1.0"}, [
        mnesia_db,
        sasl,
        compiler,
        mnesia
    ], 
    [{vm_args, "./config/mnesia_db_vm.args"}]},
    
    {mode, dev},

    %% Automatically picked up if the files exist but can be set manually.
    %% Required if the names aren't exactly sys.config and vm.args.
    {sys_config, "./config/sys.config"}

    %% The .src form of the configuration files does not require
    %% setting RELX_REPLACE_OS_VARS.
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.


%% distributed erlang configuration
% {dist_node, [
%     {setcookie, 'supersecret'},
%     {sname, 'worker_node@localhost'}
% ]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
