<.header>
  {@task.title}
  <:actions>
    <.link href={~p"/tasks/#{@task}/edit"}>
      <.button>Edit task</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Description">{@task.description}</:item>
  <:item title="Erlang model">{@task.erlang_model}</:item>
</.list>

<.back navigate={~p"/tasks"}>Back to tasks</.back>
